@import "colors";
@import "mixins";

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

// Примерно такой css должен получится, конечно, можете выбрать другие брейкпоинты, если вам удобней и понятней 
/* здесь ваши стили для десктопа (компьютер) */
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

/*.itc-slider__item {
    flex: 0 0 auto;
    width: 50%;
}*/

// ALISA


// ABOUT ME =ARINA


// INFO =TATIANA


// PSYCHO =LYUDMILA


// ENERGU =NATALIA


// REVIEW =ANNA

#swiper-button-prev,
#swiper-button-next {
    color: $color-bg-dark;
}

.title {
    @include title;
    color: $color-dark;
    height: 50px;
}

.text {
    @include paragraf;
    color: $color-black;
}


#slide,
#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6,
#slide7 {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: start;
    align-items: center;
    margin: 10px;
    padding: 50px;
    gap: 5px;
    background-color: $color-light;
    border-radius: 10%;
}

.review__title {
    display: flex;
    align-content: end;
}


.review-block {
    background-color: $color-bg-main;
    height: 100%;
}

.review__image {
    width: 5%;
    height: 5%
}



// FOOTER =VICTORIA


@import "media";