@charset "UTF-8";
*,
* ::before,
* ::after {
  box-sizing: inherit;
}

/* здесь ваши стили для десктопа (компьютер) */
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

/*.itc-slider__item {
    flex: 0 0 auto;
    width: 50%;
}*/
/*.container__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-bg-dark;
}*/
/*.container__image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}*/
.review__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 300px;
  justify-content: start;
  align-items: center;
  margin: 10px;
  padding: 50px;
  gap: 5px;
  background-color: #EFECE8;
  border-radius: 10%;
  float: left;
}

.input__radio {
  display: inline;
}

.text {
  text-align: center;
  border-radius: 10%;
  width: 300px;
}

.text2 {
  display: flex;
  flex-direction: column;
  align-self: self-end;
  justify-self: center;
  width: 50px;
  border-radius: 10%;
}

.review__image {
  width: 5%;
  height: 5%;
}

.slide-point {
  color: #ABA39B;
}

/*section {
    margin: 40px auto;*/
/*width: 450px;*/
/* background-color: $color-bg-dark;
    box-shadow: 0 0 3px #cccccc;
}*/
/*h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
}*/
/*.slider {
    position: relative;
}*/
/*.slider input[type="radio"] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {*/
/*width: 300%;*/
/*transition: transform 0.8s ease;
    display: flex;*/
/*flex-direction: column;*/
/*flex-wrap: wrap;*/
/* justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
}*/
/*.slider-slides img {
    float: left;
    width: 450px;
    height: 320px;
}*/
/*.slider-controls {
    margin-bottom: 10px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: $color-light;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.2s;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"],
#btn-4:checked~.slider-controls label[for="btn-4"] {
    background-color: #666666;
}


#btn-1:checked~.slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
    transform: translate(-300px);
}

#btn-3:checked~.slider-inner .slider-slides {
    transform: translate(-600px);
}

#btn-4:checked~.slider-inner .slider-slides {
    transform: translate(-900px);
}*/
.review__container {
  overflow: hidden;
  width: 100%;
  height: 550px;
  padding: 0;
  margin: 0;
}

.review__title {
  display: inline;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #383838;
  background-color: #ABA39B;
  height: 50px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

/* Slider wrapper*/
.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  background: #ABA39B;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* each slide backgound color */
.slide1 {
  left: 0;
}

.slide2 {
  left: 100%;
}

.slide3 {
  left: 200%;
}

.slide4 {
  left: 300%;
}

.slider > div {
  text-align: center;
}

/* Slider inner slide effect */
/*.slider h2 {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 120%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.slider .button {
    color: #FFF;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    opacity: 0;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
}

.slider h2,
.slider .button {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
}

/* Safari */
/*  transition-delay: 1s;
}*/
/* Next and Preive arrow */
.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  z-index: 55;
  color: #ABA39B;
}

.control label {
  z-index: 0;
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  color: #FFF;
  cursor: pointer;
  opacity: 0.2;
}

.control label:hover {
  opacity: 0.5;
}

.next {
  right: 1%;
}

.previous {
  left: 1%;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
}

.slider-pagination label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 2px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

/* Slider Pagger arrow event */
.slide-radio1:checked ~ .next .numb2,
.slide-radio2:checked ~ .next .numb3,
.slide-radio3:checked ~ .next .numb4,
.slide-radio2:checked ~ .previous .numb1,
.slide-radio3:checked ~ .previous .numb2,
.slide-radio4:checked ~ .previous .numb3 {
  display: block;
  z-index: 1;
}

/* Slider Pagger event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  background: rgb(255, 255, 255);
}

/* Slider slide effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide1 h2,
.slide-radio2:checked ~ .slide2 h2,
.slide-radio3:checked ~ .slide3 h2,
.slide-radio4:checked ~ .slide4 h2,
.slide-radio1:checked ~ .slide1 .button,
.slide-radio2:checked ~ .slide2 .button,
.slide-radio3:checked ~ .slide3 .button,
.slide-radio4:checked ~ .slide4 .button {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider > div {
    padding: 0 2%;
  }
  .control label {
    font-size: 35px;
  }
  .slider .button {
    padding: 0 15px;
  }
}
@media (max-width: 1500px) {
  .container {
    max-width: 800px;
  }
  /* здесь ваши стили для ноутбука */
}
@media (max-width: 900px) {
  .container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* здесь ваши стили для планшета */
}
@media (max-width: 640px) {
  .container {
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* здесь ваши стили для смартфона */
}
